<!-- Make this into a component so I can change it once instead of everywhere? -->

<!-- Side Navigation Menu -->
	<aside id="mobile-access" class="side-navigation-wrapper enter-left">
		<div class="side-navigation-header">
			<div id="side-nav-hide" class="navigation-hide">
				<a href="#">
					<span class="icon-cancel medium"></span>
				</a>
			</div>
		</div>
		<nav class="side-navigation">
			<ul>
				<li>
					<a href="#" class="contains-sub-menu">Home</a>
					<ul class="sub-menu">
						<li>
							<a href="index.html">Home Default</a>
						</li>
						<li>
							<a href="index-with-parallax.html">Home with Parallax</a>
						</li>
						<li>
							<a href="index-with-video.html">Home with Video</a>
						</li>
						<li>
							<a href="index-with-blog-portfolio.html">Home with Blog &amp; Folio</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">About</a>
					<ul class="sub-menu">
						<li>
							<a href="about-style-one.html">About Regular</a>
						</li>
						<li>
							<a href="about-style-two.html">About Style 2</a>
						</li>
						<li>
							<a href="about-style-three.html">About Style 3</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Blog</a>
					<ul class="sub-menu">
						<li class="current">
							<a href="blog.html">3 Column Grid</a>
						</li>
						<li>
							<a href="blog-four-columns-full-width.html">4 Column Full Width Grid</a>
						</li>
						<li>
							<a href="blog-sidebar-right.html">Blog with Sidebar</a>
						</li>
						<li>
							<a href="blog-wide-no-sidebar.html">Blog without Sidebar</a>
						</li>
						<li>
							<a href="blog-three-columns-header-only.html">Blog No Featured Media</a>
						</li>
						<li>
							<a href="blog/blog-single-post-sidebar-right.html">Single Post Sidebar Right</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Folio</a>
					<ul class="sub-menu">
						<li>
							<a href="portfolio-three-columns.html">3 Column Grid Default</a>
						</li>
						<li class="current">
							<a href="portfolio-three-columns-alternative.html">3 Column Grid Alt</a>
						</li>
						<li>
							<a href="portfolio-three-columns-full-width.html">3 Column Grid Full Width</a>
						</li>
						<li>
							<a href="portfolio-three-columns-full-width-no-margins.html">3 Column Grid Full Width No Margins</a>
						</li>
						<li>
							<a href="portfolio-three-columns-header-only.html">3 Column Grid Without Featured Media</a>
						</li>
						<li>
							<a href="portfolio-four-columns-full-width-alternative.html">4 Column Grid Full Width Alt</a>
						</li>
						<li>
							<a href="portfolio-four-columns-full-width-no-margins.html">4 Column Grid Full Width No Margins</a>
						</li>
						<li>
							<a href="portfolio-masonry-grid.html">Masonry Layout Margin</a>
						</li>
						<li>
							<a href="portfolio-masonry-grid-no-margins.html">Masonry Grid No Margins</a>
						</li>
						<li>
							<a href="portfolio-masonry-grid-header-only.html">Masonry Grid Without Featured Media</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">Contact</a>
					<ul class="sub-menu">
						<li>
							<a href="contact-style-one.html">Contact Regular</a>
						</li>
						<li>
							<a href="contact-style-two.html">Contact Style 2</a>
						</li>
						<li>
							<a href="contact-style-three.html">Contact Style 3</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="contains-sub-menu">More</a>
					<ul class="sub-menu">
						<li>
							<a href="shortcode-overview.html">Shortcode Overview</a>
						</li>
						<li>
							<a href="presentation.html">Presentation Page</a>
						</li>
						<li>
							<a href="404.html">400 Not Found</a>
						</li>
						<li>
							<a href="500.html">500 Error</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<div class="side-navigation-footer">
			<ul class="social-list list-horizontal">
				<li><a href="#" class="icon-facebook small"></a></li>
				<li><a href="#" class="icon-twitter small"></a></li>
				<li><a href="#" class="icon-pinterest small"></a></li>
				<li><a href="#" class="icon-flickr small"></a></li>
				<li><a href="#" class="icon-gplus small"></a></li>
			</ul>
			&copy; 2014 THEMEMOUNTAIN.
		</div>
	</aside>
	<!-- Side Navigation Menu End -->

	<!-- Overlay Navigation Search -->
	<div class="overlay-navigation-wrapper">
		<div class="overlay-navigation-inner">
			<div class="overlay-navigation-header row full-width">
				<div id="overlay-nav-hide" class="navigation-hide">
					<a href="#">
						<span class="icon-cancel medium"></span>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="column width-8 offset-2">
					<div class="search-form-container site-search">
						<form action="#" method="get" novalidate>
							<div class="row">
								<div class="column width-12">
									<div class="field-wrapper">
										<input type="text" name="search" class="form-search form-element" placeholder="type &amp; hit enter...">
										<span class="border"></span>
									</div>
								</div>
							</div>
						</form>
						<div class="form-response"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Overlay Navigation Search End -->